<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    <body>
        <h1>This is <%='home'.toUpperCase()%></h1>
            <h2>You are always welcome here</h2>
            <p>You are <%=2022-1994%> years old</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Laboriosam
                    qui vitae iure animi modi. Repellendus placeat corporis
                    earum,
                    error
                    quam sequi maxime et blanditiis mollitia unde necessitatibus
                    consequuntur quia autem?</p>
            </body>
        </html>